<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>

    {% comment %} google fonts {% endcomment %}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Reset Password</h1>


    <div class='wrapper'>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" name="button">Reset</button>
        </form>
    </div>  
</body>
</html>